.filterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
}

.filter-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 15px;
}

.filter-icon {
    height: 30px;
    width: 30px;
    padding: 3px 0 0 0;
    margin: 0 15px 0 0;
    text-align: center;
    border: solid white 1px;
    border-radius: 15%;
}

.moreContainer{
    display: flex;
    flex-direction: column;
}

#more {
    margin: 10px 0;
    align-self: center;
}

.siteIcon {
    background-image: url(https://sub60.tobit.com/l/152342); width: 57px; height: 57px;
}

.listSites {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.siteElement {
    height: 100px;
    width: 88px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
